<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://picsum.photos/1200/400?shop');">
  <div class="container">
    <h1>Marketplace</h1>
    <p>Achetez et vendez en toute simplicité</p>
    <% if user_signed_in? %>
      <%= link_to "Mettre en vente", new_product_path, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

<div class="container mt-4">
  <div class="cards">
    <% @products.each do |product| %>
      <div class="card-product">
        <%= image_tag "https://picsum.photos/seed/#{product.id}/200/150" %>
        <div class="card-product-infos">
          <h2><%= link_to product.name, product, class: "text-decoration-none" %></h2>
          <p><%= product.description.truncate(100) %></p>
          <h2 class="card-product-pricing"><%= product.price %>€</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
