<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://picsum.photos/1200/400?shop');">
  <div class="container">
    <h1>Marketplace</h1>
    <p>Achetez et vendez en toute simplicité</p>
    <% if user_signed_in? && policy(Product).new? %>
      <%= link_to "Mettre en vente", new_product_path, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

<div class="container mt-4">
  <div class="cards">
    <% @products.each do |product| %>
      <div class="card-product">
        <% if product.photo.attached? %>
          <%= cl_image_tag product.photo.key, height: 150, width: 200, crop: :fill %>
        <% else %>
          <%= image_tag "https://picsum.photos/seed/#{product.id}/200/150" %>
        <% end %>
        <div class="card-product-infos">
          <h2>
            <%= link_to product.name, product, class: "text-decoration-none" %>
            <% if product.created_at > 7.days.ago %>
              <span class="badge bg-success">Nouveau</span>
            <% end %>
          </h2>
          <p><%= product.description.truncate(100) %></p>
          <h2 class="card-product-pricing"><%= product.price %>€</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
